.task {
  display: flex;
  justify-content: space-between;
  border: 1px solid lightsteelblue;
  margin: 10px;
  border-radius: 5px;
  padding: 9px;
  aspect-ratio: 2/1;
  height: 100px;
  
}

.tasks-list {
  display: inline-block;
  border: 1px solid lightsteelblue;
  border-radius: 5px;
  width: auto;
  margin: 10px;
  padding: 0;
}

.task-check {
  display: flex;
  align-items: center;
}

.task-check input[type=checkbox] {
  margin: 5px;
}

.task-description {
  margin: 3px auto;
  text-align: justify;
}

.task-content {
  width: 90%;
}

.task-title {
  display: flex;
  justify-content: space-between;
}

.add-task{
  display: flex;
  justify-content: center;
}

.add-task-link{
  display: inline;
  margin: 10px 0;
}

.cancel-button{
  border: none;
  background-color: inherit;
}