.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;  
}

.task {
  justify-content: space-between;
  border: 1px solid lightsteelblue;
  margin: 10px;
  width: 100%;
  border-radius: 5px;
  padding: 9px;
  aspect-ratio: 2/1;
}

.tasks-board {
  margin: 0;
  padding: 0;
  width: 90%;
}

.tasks-container{
  display: flex;
  width: 100%;
}

.tasks-list {
  width: 33%;
  min-height: 200px;
  border: 1px solid lightsteelblue;
  border-radius: 5px;
  margin: 10px;
  padding: 0;
}

.tasks-list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 5px;
}

.task-description {
  margin: 3px auto;
  text-align: justify;
}

.task-title {
  display: flex;
  justify-content: space-between;
}

.add-task{
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-task-link{
  display: inline;
  margin: 10px 0;
}

.cancel-button{
  border: none;
  background-color: inherit;
}

.task-form {
  border: 1px solid purple;
  border-radius: 40px;
  aspect-ratio: 2;
  width: 50%;
  padding: 5%;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

span.input-required {
  color: red;
}

.input-check-group {
  margin: 15px 5px;
}

.form-actions{
  display: flex;
  justify-content: stretch;
}

.form-actions .btn-block{
  width: 50%;
  height: 30px;
  font-size: medium;
}

.btn-accent {
  color: white;
  background-color: blueviolet;
  border: none;
}

.btn-secondary {
  color: black;
  background-color: whitesmoke;
  border: none;
  text-align: center;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
}

a.btn-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 620px) {
  .task-description {
    display: none;
  }

  .task {
    aspect-ratio: auto;
  }

  .tasks-list {
    min-width: auto;
  }
}